.scooch {
    position: relative;
    overflow: hidden;
}

.scooch img {
    -ms-interpolation-mode: bicubic; /* Better scaling in Internet Explorer */
}

.scooch__inner {
    position: relative;
    
    white-space: nowrap;
    text-align: left;

    transition-property: transform;
    /*  iOS  like  slide  timings  */
    transition-timing-function: cubic-bezier(0.33,  0.66,  0.66,  1);
    transition-duration: 0.5s;
}

.scooch__item {
    display: inline-block;
    /*  Removes  inline-block  gaps  due  to  whitespace  */
    margin-right: -4px;
    
    vertical-align: top;
    white-space: normal;
}

/* .scooch--fluid scales scooch to 100% of window width */

.scooch--fluid .scooch__item {
    box-sizing: border-box;
}

.scooch--fluid .scooch__item,
.scooch--fluid .scooch__item img {
    width: 100%;
}

/* .scooch--center centers individual items in the viewport instead of aligning to left */
.scooch--center .scooch__inner {
    position: relative;
    left: 50%;
}

.scooch--center .scooch__item {
    transform: translateX(-50%);
}
