/* Scooch Theme Base Styling */

.scooch__item {
    margin-right: 20px;
}

/* Scaling */
.scooch--scaled .scooch__item {
    opacity: 0.7;
    
    -webkit-backface-visibility: hidden;
    transform: scale(0.75);

    /* Configure animations */
    /* (0.5s would match the transition length between each, 
      but fast swiping on a phone can result in odd timing. 
      Half-length durations for each transform is a reasonable 
      middle ground.) */
    transition:
        transform cubic-bezier(0.33, 0.66, 0.66, 1) 0.25s,
        opacity ease-out 0.25s;
}

.scooch--scaled .scooch__item.scooch--active {
    opacity: 1;
    transform: scale(1);
}

/* If you use scaled with center, we need to readd the transform */

.scooch--center.scooch--scaled .scooch__item {
    transform: translateX(-50%) scale(0.75);
}

.scooch--center.scooch--scaled .scooch__item.scooch--active {
    transform: translateX(-50%) scale(1);
}

/* 
  Carousel control base styling 
*/

.scooch__controls {
    padding-top: 10px;
    text-align: center;
}

.scooch__control {
    padding: 5px;
    
    user-select: none;
    user-drag: none;
}

/* Carousel controls: Bulleted */

.scooch--bullet {
    overflow: hidden;
    display: inline-block;
    padding: 6px;
    width: 0;
    height: 0;
    margin: 0 3px;
    
    background-color: rgba(255,255,255,0.3);
    border-radius: 6px;
    box-shadow: inset rgba(0,0,0,0.25) 0 1px 2px;

    line-height: 0;
    text-decoration: none;
    text-indent: -999px;
    color: #333;

    transition: background-color 0.1s ease-in;
}

.scooch--bullet.scooch--active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
}

/* Carousel controls: Pagination */

.scooch--pagination {
    padding-top: 10px;
}

.scooch--page {
    display: inline-block;
    padding: 3px 10px;
    margin: 1px 0;
    
    border-radius: 2px;
    background-color: rgba(240, 240, 240,0.3);
    
    text-decoration: none;
    color: #333;

    transition: background-color 0.1s ease-in;
}

.scooch--page.scooch--active {
    background-color: rgba(255,255,255,1);
}

/* Carousel controls: HUD */

.scooch--hud {
  padding-top: 0;
}

.scooch--hud .scooch__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    
    display: block;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 0;
    padding: 0;
    overflow: hidden;
    
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    opacity: 0;
    
    white-space: nowrap;
    text-decoration: none;
    text-indent: 100%;

    transition: opacity 0.1s ease-in;
}

.scooch--hud .scooch--next {
    right: 10px;
}

.scooch--hud .scooch__control:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;

    display: block;

    color: rgba(255, 255, 255, 0.85);
    content: "\25c0";
    font-size: 20px;
    font-weight: bold;
    text-indent: 0;
    text-align: center;    
    line-height: 55px;
}

.scooch--hud .scooch--next:after {
    content: "\25b6";
}

.scooch:hover .scooch--hud .scooch__control {
    opacity: 0.3;
}

.scooch--hud .scooch__control:hover,
.scooch--hud .scooch__control:focus {
    opacity: 1;
}


/* extra bits */

/* captions */
.scooch__caption {
    margin: 0;
    padding: 10px;
    height: auto;
    text-align: center;
}

/* Fluid Width Photo Carousel
 * .scooch.scooch--fluid.scooch--photos
 */

.scooch--photos {
    margin: 0 -10px;
    padding: 0 10px;
}

.scooch--photos .scooch__item  > img {
    margin: 0;
    padding: 0;
    max-width: none;
    width: 100%;
    height: auto;

    box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
}

.scooch--photos .scooch__caption {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    position: absolute;
    z-index: 9;
    width: 100%;
    box-sizing: border-box;
    
    color: white;
}

/* Inner Cards for Carousel */
.scooch__card {
    padding: 20px;
    
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
}

.scooch--dark {
    background: rgba(0,0,0,0.5);
    color: #FFF;
}

.scooch--light {
    background: rgba(255,255,255,0.9);
    color: #000;
}

.scooch__card .scooch__caption {
    margin: 0;
    padding: 10px 0 0 0;
}